@tailwind base;
@tailwind components;
@tailwind utilities;
/* .App {
  background-color: var(--bg-color);
  color: var(--text-color);
} */
:root,[data-theme= "light"] {
  --bg-color: white;
  --text-color: green;
}
[data-theme = "dark"]{
  --bg-color: black;
  --text-color: red;
}

